@model IndexModel

@{
    ViewBag.Title = "title";
    Layout = "_Table";
}

<table class="test-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
</table>
